h1 {
    font-family: "Carter One";
    font-size: 7vh;
}

body {
    background-image: linear-gradient(0deg, rgb(235, 228, 30), rgba(249, 164, 6));
    margin: 0;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_info_container {
    background-color: hsla(53, 26%, 87%, 0.728);
    display: flex;
    /* height: 100vh; */
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon_container {
    /* font-family: "Encode Sans SC", sans-serif; */
    font-family: "Carter One";
    font-size: 1vw;
    display: flex;
    width: 23vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}